<configuration>

    <logger name="com.hanifiamdev" level="trace"/> <!-- artinya semua yang di dalam folder com.hanifiamdev akan trace levelnya -->

    <root level="warn">
        <appender class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
    </root>
</configuration>
